*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
#body {
    background: url(../img/fndo.jpg) right bottom fixed no-repeat;
}
#grid-area{
    width: 100%;
    display: grid;
    max-width: 1500px;
    margin: 0 auto;
    gap: 5px;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer";
    grid-template-rows: 100px auto ;
}
.nav-link {
    font-weight: bolder;
    transition: all .1s;
    object-fit: cover;
}
.nav-link:hover{
    transform: scale(1.02);
    font-size: x-large;
}
.header{
    grid-area: header;
    background-color: white;
    text-align: center;
}

.main{
    grid-area: main;
    text-align: center;
    margin-top: 100px;
    background: url(../img/fondo-5.png) left bottom fixed no-repeat;
    
   
}
.section__contacto{
    background-image: url(../img/banner-titulo.jpg);
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    font-size: 60px;
    font-weight: 900;
    margin-top: 50px auto 30px auto;
}
.form {
    width: 700px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(50deg 83% 93%);
}
.form fieldset {
    border: 3px solid #e49c00;
    
}
.form fieldset legend {
    color: black;
    font-size: 30px;
    font-weight: 800;
}
.form__name {
    margin-right: 15px;
}
.form__name label {
    color: black;
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}
.form__name input {
    border: 3px solid #e49c00;
    padding: 5px 10px;
    font-size: 15px;
}
.form__surname {
    margin-right: 15px;
}
.form__surname label {
    color: black;
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}
.form__surname input {
    border: 3px solid #e49c00;
    padding:  5px 10px ;
    font-size: 15px;
}
.form__mail{
    margin-top: 20px;
}
.form__mail label {
    color: black;
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px
}
.form__mail input {
    border: 3px solid #e49c00;
    padding: 5px 10px;
    font-size: 15px;
}
.form__tel {
    margin-right: 100px;
}
.form__tel label{
    color: black;
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
   
}
.form__tel input {
    border: 3px solid #e49c00;
    padding: 5px 10px;
    font-size: 15px;
}
.form__genero {
    margin-top: 15px;
    margin-left: 55px;
    margin-bottom: 10px;
}
.form__genero select {
    border: 3px solid #e49c00;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 10px;
}
.form__genero option {
    color: black;
    background-color: #e49c00;
}
.form__newsletter {
    margin-top: 30px;
}
.form__newsletter label {
    color: black;
    font-size: 25px;
    font-weight: 900;
}
.form__txt {
    margin-top: 20px;
    margin-bottom: 10px;
}
.form__txt textarea {
    border: 3px solid #e49c00;
    color: black;
    font-size: 15px;
    font-weight: 500;
}
.form__button input {
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 800;
    padding: 5px 10px;
    background-color: #e49c00;
}


.footer {
    width: 100%;
    grid-area: footer;
    background-color: black;
    text-align: center;
}
.footer__titulo h2 {
    color: white;
    font-size: 55px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.footer__redes nav ul li {
    padding: 10px 15px;
    display: inline;
    margin: 40px auto 20px auto;
}
.footer__redes nav ul li a img {
    width: 100px;
    transition: all .5s;
    object-fit: cover;
}
.footer__redes nav ul li a img:hover{
    transform: scale(1.2);
}
.footer__pie img {
    width: 200px;
}
.footer__pie p {
    font-weight: 300;
    color: white;
    margin: 10px 80px 0% 80px;
    text-align: center;
    font-size: 15px;
}
@media (min-width: 768px) and (max-width: 1023px){

    #body{
        background-image: none;
    }
   
    .main{
        background-image: none;
        margin-top: 50px;
        
    }
    .section__contacto{
        width: 100%;
    }
    .section__contacto  h1{
        font-size: 55px;
    }
    .form{
        width: 500px;
    }
    .form fieldset {
        border: 2px solid #e49c00;
    }
    .form fieldset legend{
        font-size: 20px;
    }
    .form__name label {
        font-size: 20px;
    }
    .form__name input {
        border: 2px solid #e49c00;
        font-size: 13px;
    }
    .form__surname label {
        font-size: 20px;
    }
    .form__surname input {
        border: 2px solid #e49c00;
        font-size: 13px;
    }
    .form__mail label {
        font-size: 20px;
    }
    .form__mail input {
        border: 2px solid #e49c00;
        font-size: 13px;
    }
    .form__tel{
        margin-left: 18px;
    }
    .form__tel label{
        font-size: 20px;
    }
    .form__tel input {
        border: 2px solid #e49c00;
        font-size: 13px;
    }
    .form__genero select {
        border: 2px solid #e49c00;
        font-size: 13px;
    }
    .form__genero option {
        color: black;
        background-color: #e49c00;
    }
    .form__newsletter label {
        font-size: 20px;
    }
    .form__txt textarea {
        border: 2px solid #e49c00;
        color: black;
        font-size: 13px;
    }
    .form__button input {
        font-size: 20px;
    }
    .footer__titulo h2{
        margin-top: 20px;
        font-size: 45px;
    }

}
@media (min-width: 600px) and (max-width: 767px){

    #body{
        background-image: none;
    }
    
    .main{
        background-image: none;
        margin-top: 50px;
    }
    .section__contacto{
        width: 100%;
    }
    .section__contacto  h1{
        font-size: 45px;
    }
    .form{
        width: 500px;
    }
    .form fieldset {
        border: 2px solid #e49c00;
    }
    .form fieldset legend{
        font-size: 20px;
    }
    .form__name label {
        font-size: 20px;
    }
    .form__name input {
        border: 2px solid #e49c00;
        font-size: 13px;
    }
    .form__surname label {
        font-size: 20px;
    }
    .form__surname input {
        border: 2px solid #e49c00;
        font-size: 13px;
    }
    .form__mail label {
        font-size: 20px;
    }
    .form__mail input {
        border: 2px solid #e49c00;
        font-size: 13px;
    }
    .form__tel{
        margin-left: 18px;
    }
    .form__tel label{
        font-size: 20px;
    }
    .form__tel input {
        border: 2px solid #e49c00;
        font-size: 13px;
    }
    .form__genero select {
        border: 2px solid #e49c00;
        font-size: 13px;
    }
    .form__genero option {
        color: black;
        background-color: #e49c00;
    }
    .form__newsletter label {
        font-size: 20px;
    }
    .form__txt textarea {
        border: 2px solid #e49c00;
        color: black;
        font-size: 13px;
    }
    .form__button input {
        font-size: 20px;
    }
    .footer__titulo h2{
        font-size: 40px;
        margin-top: 20px;
    }
    .footer__redes img{
        width: 80px;
    }
    .footer__pie  img{
        width: 200px;
    }
}
@media (min-width: 480px) and (max-width: 599px){

    #body{
        background-image: none;
    }
    .navbar-brand img{
        width: 400px;
    }
    .main{
        background-image: none;
        margin-top: 50px;
    }
    .section__contacto{
        width: 100%;
    }
    .section__contacto  h1{
        font-size: 45px;
    }
    .form{
        width: 400px;
    }
    .form fieldset {
        border: 2px solid #e49c00;
    }
    .form fieldset legend{
        font-size: 18px;
    }
    .form__name label {
        font-size: 15px;
    }
    .form__name input {
        border: 2px solid #e49c00;
        font-size: 10px;
    }
    .form__surname label {
        font-size: 15px;
    }
    .form__surname input {
        border: 2px solid #e49c00;
        font-size: 10px;
    }
    .form__mail label {
        font-size: 15px;
    }
    .form__mail input {
        border: 2px solid #e49c00;
        font-size: 10px;
    }
    .form__tel{
        margin-left: 38px;
    }
    .form__tel label{
        font-size: 15px;
    }
    .form__tel input {
        border: 2px solid #e49c00;
        font-size: 10px;
    }
    .form__genero{
        margin-right: 20px;
    }
    .form__genero select {
        border: 2px solid #e49c00;
        font-size: 10px;
    }
    .form__genero option {
        color: black;
        background-color: #e49c00;
    }
    .form__newsletter label {
        font-size: 15px;
    }
    .form__txt textarea {
        border: 2px solid #e49c00;
        color: black;
        font-size: 10px;
    }
    .form__button input {
        font-size: 17px;
    }
    .footer__titulo h2{
        font-size: 35px;
        margin-top: 20px;
    }
    .footer__redes nav ul li a img{
        width: 60px;
    }
    .footer__pie  img{
        width: 150px;
    }
    .footer__pie p{
       font-size: 12px;
    }
}
@media (min-width: 250px) and (max-width: 479px){

    #body{
        background-image: none;
        background-color: white;
    }
    .navbar-brand img{
        width: 220px;
        margin-bottom: 15px;
    }
    .main{
        background-image: none;
        margin-top: 50px;
    }
    .section__contacto{
        width: 100%;
    }
    .section__contacto  h1{
        font-size: 35px;
    }
    .form{
        width: 400px;
    }
    .form fieldset {
        border: 2px solid #e49c00;
    }
    .form fieldset legend{
        font-size: 15px;
    }
    .form__name label {
        font-size: 13px;
    }
    .form__name input {
        border: 1px solid #e49c00;
        font-size: 10px;
    }
    .form__surname label {
        font-size: 13px;
    }
    .form__surname input {
        border: 1px solid #e49c00;
        font-size: 10px;
    }
    .form__mail label {
        font-size: 13px;
    }
    .form__mail input {
        border: 1px solid #e49c00;
        font-size: 10px;
    }
    .form__tel{
        margin-left: 45px;
    }
    .form__tel label{
        font-size: 13px;
    }
    .form__tel input {
        border: 1px solid #e49c00;
        font-size: 10px;
    }
    .form__genero{
        margin-right: 25px;
    }
    .form__genero select {
        border: 1px solid #e49c00;
        font-size: 10px;
    }
    .form__genero option {
        color: black;
        background-color: #e49c00;
    }
    .form__newsletter label {
        font-size: 13px;
    }
    .form__txt textarea {
        border: 1px solid #e49c00;
        color: black;
        font-size: 10px;
    }
    .form__button input {
        font-size: 15px;
    }
    .footer__titulo{
        font-size: 17px;
    }
    .footer__titulo h2{
        margin-top: 20px;
        font-size: 18px;
    }
    .footer__redes nav ul li a img{
        width: 20px;
    }
    .footer__pie  img{
        width: 200px;
    }
    .footer__pie p{
       font-size: 10px;
    }
}
