*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
#body{
    background: url(../img/fndo-1.jpg) fixed no-repeat left bottom;
    
}
#grid-area{
    width: 100%;
    display: grid;
    max-width: 1500px;
    margin: 0 auto;
    gap: 5px;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer";
    grid-template-rows: 100px auto ;
}
.header{
    grid-area: header;
    text-align: center;
}
.nav-link {
    font-weight: bolder;
    transition: all .1s;
    object-fit: cover;
}
.nav-link:hover{
    transform: scale(1.02);
    font-size: x-large;
}
.main {
    width: 100%;
    grid-area: main;
    text-align: center;
    margin-top: 100px;
    background: url(../img/fndo-1.jpg) fixed no-repeat right bottom;
    
}
.section {
    width: 100%;
    max-width: 900px; 
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.section__titulo {
    color: black;
    font-size: 30px;
    font-weight: 700;
   margin: 40px auto 10px auto ;
}
.section__imagen img {
    margin: 10px auto 20px auto;
    width: 900px;
}
.articulo__titulo h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: underline;
}
.articulo__titulo p {
    color: grey;
    font-weight: 600;
    width: 700px;
    font-size: medium;
    margin: 10px auto 30px auto;
    text-align: center;     
}
.section__etiquetas {
    margin: 50px auto ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
.section__etiquetasjw h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.section__etiquetasjw nav a img {
    width: 400px;
    transition: all .5s;
    object-fit: cover;
} 
.section__etiquetasjw nav a img:hover{
    transform: scale(1.05);
}
.section__etiquetascl h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.section__etiquetascl img {
    width: 300px;
    transition: all .5s;
    object-fit: cover;
}
.section__etiquetascl img:hover{
    transform: scale(1.05);
}
.section__beber {
    background-color: #fcf7de;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__beber h2 {
    font-size: 45px;
    font-weight: 900;
    margin-top: 20px auto 10px auto;  
}   
.section__beber img {
    width: 400px;
    margin-top: 20px;
    transition: all .5s;
    object-fit: cover;
}
.section__beber img:hover{
    transform: scale(1.05);
}
.section__beber p {
    font-size: 20px;
    font-weight: 500;
    color: grey;
    margin-top: 20px;
}

.section__logo img {
    background-color: white;
    width: 200px;
    margin: 50px auto 50px auto;
}



.footer {
    width: 100%;
    grid-area: footer;
    background-color: black;
    text-align: center;
}
.footer__titulo h2 {
    color: white;
    font-size: 55px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.footer__redes nav ul li {
    padding: 10px 15px;
    display: inline;
    margin: 40px auto 20px auto;
}
.footer__redes nav ul li a img {
    width: 100px;
    transition: all .5s;
    object-fit: cover;
}
.footer__redes nav ul li a img:hover{
    transform: scale(1.2);
}
.footer__pie img {
    width: 200px;
}
.footer__pie p {
    font-weight: 300;
    color: white;
    margin: 10px 80px 0% 80px;
    text-align: center;
    font-size: 15px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    
    #body{
        background-image: none;
    }
    .main{
        background-image: none;
        margin-top: 50px;
    }
    .section__titulo{
        font-size: 25px;
        margin-top: 0%;
    }
    .section__imagen img{
        width: auto;
    }
    .articulo__titulo{
        width: 100%;
    }
    .footer__titulo h2{
        margin-top: 20px;
        font-size: 45px;
    }

}


@media (min-width: 600px) and (max-width: 767px){
    #body{
        background-image: none;
    }

    .main{
        background-image: none;
        margin-top: 50px;
    }
    .section__titulo{
        font-size: 20px;
    }
    .section__imagen img{
        width: 550px;
    }
    .articulo__titulo{
        width: 100%;
    }
    .section__etiquetasjw nav a img{
        width: 300px;
    }
    .articulo__titulo p{
        width: 400px;
    }
    .section__etiquetascl img{
        width: 200px;
    }
    .section__beber h2{
        font-size: 40px;
    }
    .section__beber img{
        width: 300px;
    }
    .section__beber p{
        font-size: 15px;
    }
    .footer__titulo h2{
        font-size: 40px;
        margin-top: 20px;
    }
    .footer__redes img{
        width: 80px;
    }
    .footer__pie  img{
        width: 200px;
    }
}

@media (min-width: 480px) and (max-width: 599px){
    #body{
        background-image: none;
    }
    .navbar-brand img{
        width: 400px;
    }
    .main{
        background-image: none;
        margin-top: 50px;
    }
    .section__titulo{
        font-size: 15px;
    }
    .section__imagen img{
        width: 400px;
        margin: auto;
    }
    .articulo__titulo p{
        width: 300px;
    }
    .section__etiquetasjw nav a img {
        width: 300px;
    }
    .section__etiquetascl img{
        width: 200px;
    }
    .section__beber h2{
        font-size: 25px;
    }
    .section__beber img{
        width: 250px;
        
    }
    .section__beber p{
        font-size: 15px;
    }
    .section__logo img{
        width: 150px;
    }
    .footer__titulo h2{
        font-size: 35px;
        margin-top: 20px;
    }
    .footer__redes nav ul li a img{
        width: 60px;
    }
    .footer__pie  img{
        width: 150px;
    }
    .footer__pie p{
       font-size: 12px;
    }
}
@media (min-width: 250px) and (max-width: 479px){
    #body{
        background-image: none;
        background-color: white;
    }
    
    .navbar-brand img{
        width: 220px;
        margin-bottom: 15px;
    }
   
    .main{
        background-image: none;
        margin-top: 50px;
    }
    .section__titulo{
        font-size: 12px;
        
    }
    .section__imagen img{
        width: 350px;
        margin: auto;
    }
    .articulo__titulo h2{
        font-size: 25px;
    }
    .articulo__titulo p{
        width: 220px;
    }
    .section__etiquetasjw nav a img {
        width: 250px;
    }
    .section__etiquetascl img{
        width: 170px;
    }
    .section__beber h2{
        font-size: 20px;
        color: black;
    }
    .section__beber img{
        width: 210px;
    }
    .section__beber p{
        font-size: 13px;
    }
    .section__logo img{
        width: 120px;
    }
    .footer__titulo{
        font-size: 17px;
    }
    .footer__titulo h2{
        margin-top: 20px;
        font-size: 18px;
    }
    .footer__redes nav ul li a img{
        width: 20px;
    }
    .footer__pie  img{
        width: 200px;
    }
    .footer__pie p{
       font-size: 10px;
    }
}