*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
#grid-area{
    width: 100%;
    display: grid;
    max-width: 1500px;
    margin: 0 auto;
    gap: 5px;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer";
    grid-template-rows: 100px auto ;
}
.nav-link {
    font-weight: bolder;
    transition: all .1s;
    object-fit: cover;
}
.nav-link:hover{
    transform: scale(1.02);
    font-size: x-large;
}
.header{
    grid-area: header;
    text-align: center;
}

.main{
    grid-area: main;
    margin-top: 100px;
}
.section__title {
    width: 100%;
    text-align: center;
    background-image: url(../img/banner-titulo.jpg);
}
.section__title h1{
    margin: 20px auto 5px auto;
    font-size: 60px;
    font-weight: 900;
}
.section__title h4{
    padding: 5px 5px;
    font-size: 20px;
    font-weight: 700;
    margin: auto;
}
.grid {
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.grid__img img {
    text-align: center;
    transition: all .5s;
    object-fit: cover;
}
.grid__img img:hover{
    transform: scale(1.05);
}
.grid__img p{
    margin-top: 15px;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    color: black;
}
.card-body{
    background-color: hsl(50deg 83% 93%);
}
.card-title{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    background-image: url(../img/banner-titulo.jpg);
}
.card-body p{
    color: grey;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}
.container-fuid nav a img{
    margin: 50px auto 0% auto;
    transition: all .5s;
   object-fit: cover;
}
.container-fuid nav a img:hover{
    transform: scale(1.05);
}
.footer {
    grid-area: footer;
    background-color: black;
    text-align: center;
}
.footer__titulo h2 {
    color: white;
    font-size: 55px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.footer__redes nav ul li {
    padding: 10px 15px;
    display: inline;
    margin: 40px auto 20px auto;
}
.footer__redes nav ul li a img {
    width: 100px;
    transition: all .5s;
    object-fit: cover;
}
.footer__redes nav ul li a img:hover{
    transform: scale(1.2);
}
.footer__pie img {
    width: 200px;
}
.footer__pie p {
    font-weight: 300;
    color: white;
    margin: 10px 80px 0% 80px;
    text-align: center;
    font-size: 15px;
}

@media (min-width: 768px) and (max-width: 1023px){

   
    .section__titulo h1{
        font-size: 50px;
    }
    .grid{
        width: 100%;
        max-width: 600px;
        margin: 30px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 5px;
        justify-items: center;
        align-items: center;
    }
    .grid__img img{
        width: 250px;
    }
    .grid__img p{
        font-size: 14px;
    }
    .footer__titulo h2{
        margin-top: 20px;
        font-size: 45px;
    }


}
@media (min-width: 600px) and (max-width: 767px){

    
    .section__titulo h1{
        font-size: 40px;
    }
    .grid{
        width: 100%;
        max-width: 500px;
        margin: 30px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 5px;
        justify-items: center;
        align-items: center;
    }
    .grid__img img{
        width: 230px;
    }
    .grid__img p{
        font-size: 14px;
    }
    .footer__titulo h2{
        font-size: 40px;
        margin-top: 20px;
    }
    .footer__redes img{
        width: 80px;
    }
    .footer__pie  img{
        width: 200px;
    }
}
@media (min-width: 480px) and (max-width: 599px){

    .navbar-brand img{
        width: 400px;
    }
    .section__titulo h1{
        font-size: 30px;
    }
    .grid{
        width: 100%;
        max-width: 400px;
        margin: 30px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 2px;
        justify-items: center;
        align-items: center;
    }
    .grid__img img{
        width: 200px;
    }
    .grid__img p{
        font-size: 12px;
    }
    .footer__titulo h2{
        font-size: 35px;
        margin-top: 20px;
    }
    .footer__redes nav ul li a img{
        width: 60px;
    }
    .footer__pie  img{
        width: 150px;
    }
    .footer__pie p{
       font-size: 15px;
    }
}

@media (min-width: 250px) and (max-width: 479px){

    #body{
        background-color: white;
    }
    .navbar-brand img{
        width: 220px;
        margin-bottom: 15px;
    }
   .section__titulo h1{
        font-size: 25px;
    }
    .grid{
        width: 100%;
        max-width: 500px;
        margin: 30px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1px;
        justify-items: center;
        align-items: center;
    }
    .grid__img img{
        width: 200px;
    }
    .section__titulo h1{
        font-size: 25px;
        margin-top: 50px;
    }
    .grid__img p{
        font-size: 15px;
    }
    .footer__titulo{
        font-size: 17px;
    }
    .footer__titulo h2{
        margin-top: 20px;
        font-size: 35px;
    }
    .footer__redes nav ul li a img{
        width: 20px;
    }
    .footer__pie  img{
        width: 200px;
    }
    .footer__pie p{
       font-size: 15px;
    }
}