* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

#body {
  background: url(../img/fndo-1.jpg) fixed no-repeat left bottom;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #body {
    background-image: none;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  #body {
    background-image: none;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  #body {
    background-image: none;
  }
}

@media (min-width: 230px) and (max-width: 479px) {
  #body {
    background-image: none;
  }
}

#body #grid-area {
  width: 100%;
  display: -ms-grid;
  display: grid;
  max-width: 1500px;
  margin: 0% auto;
  gap: 5px;
      grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  -ms-grid-rows: 100px auto;
      grid-template-rows: 100px auto;
}

#body #grid-area .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  text-align: center;
  margin-bottom: 0%;
}

#body #grid-area .header .navbar-brand img {
  margin-top: 20px;
}

@media (min-width: 230px) and (max-width: 479px) {
  #body #grid-area .header .navbar-brand img {
    width: 220px;
  }
}

#body #grid-area .header .nav-link {
  padding: 5px 15px 0% 15px;
  margin-bottom: 0%;
  color: black;
  font-weight: bolder;
  -webkit-transition: all .1s;
  transition: all .1s;
}

#body #grid-area .header .nav-link:hover {
  color: #dc9302;
}

#body #grid-area .main {
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: main;
  text-align: center;
  margin-top: 10px;
  background: url(../img/fndo-1.jpg) fixed no-repeat right bottom;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #body #grid-area .main {
    background-image: none;
    margin-top: 50px;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  #body #grid-area .main {
    background-image: none;
    margin-top: 50px;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  #body #grid-area .main {
    background-image: none;
    margin-top: 50px;
  }
}

@media (min-width: 230px) and (max-width: 479px) {
  #body #grid-area .main {
    background-image: none;
    margin-top: 50px;
  }
}

#body #grid-area .main .section {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#body #grid-area .main .section__titulo {
  width: 100%;
  text-align: center;
  background-image: url(../img/banner-titulo.jpg);
  margin: 20px auto 30px auto;
}

#body #grid-area .main .section__titulo h1 {
  font-size: 60px;
  font-weight: 900;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #body #grid-area .main .section__titulo h1 {
    font-size: 50px;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  #body #grid-area .main .section__titulo h1 {
    font-size: 40px;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  #body #grid-area .main .section__titulo h1 {
    font-size: 35px;
  }
}

@media (min-width: 230px) and (max-width: 479px) {
  #body #grid-area .main .section__titulo h1 {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #body #grid-area .main .articulo__titulo {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  #body #grid-area .main .articulo__titulo {
    width: 100%;
  }
}

#body #grid-area .main .articulo__titulo h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
  text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #body #grid-area .main .articulo__titulo h2 {
    margin-top: 20px;
    font-size: 45px;
  }
}

@media (min-width: 230px) and (max-width: 479px) {
  #body #grid-area .main .articulo__titulo h2 {
    font-size: 25px;
  }
}

#body #grid-area .main .articulo__titulo p {
  color: grey;
  font-weight: 600;
  width: 700px;
  font-size: medium;
  margin: 10px auto 30px auto;
  text-align: center;
}

@media (min-width: 600px) and (max-width: 767px) {
  #body #grid-area .main .articulo__titulo p {
    width: 400px;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  #body #grid-area .main .articulo__titulo p {
    width: 300px;
  }
}

@media (min-width: 230px) and (max-width: 479px) {
  #body #grid-area .main .articulo__titulo p {
    width: 220px;
  }
}

#body #grid-area .main .section__etiquetas {
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#body #grid-area .main .section__etiquetas .section__etiquetasjw nav a img {
  width: 400px;
  -webkit-transition: all .5s;
  transition: all .5s;
  -o-object-fit: cover;
     object-fit: cover;
}

#body #grid-area .main .section__etiquetas .section__etiquetasjw nav a img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (min-width: 600px) and (max-width: 767px) {
  #body #grid-area .main .section__etiquetas .section__etiquetasjw nav a img {
    width: 300px;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  #body #grid-area .main .section__etiquetas .section__etiquetasjw nav a img {
    width: 300px;
  }
}

@media (min-width: 230px) and (max-width: 479px) {
  #body #grid-area .main .section__etiquetas .section__etiquetasjw nav a img {
    width: 250px;
  }
}

#body #grid-area .main .section__etiquetas .section__etiquetasjw h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#body #grid-area .main .section__etiquetas .section__etiquetascl img {
  -webkit-transition: all .5s;
  transition: all .5s;
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
}

#body #grid-area .main .section__etiquetas .section__etiquetascl img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (min-width: 600px) and (max-width: 767px) {
  #body #grid-area .main .section__etiquetas .section__etiquetascl img {
    width: 200px;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  #body #grid-area .main .section__etiquetas .section__etiquetascl img {
    width: 200px;
  }
}

@media (min-width: 230px) and (max-width: 479px) {
  #body #grid-area .main .section__etiquetas .section__etiquetascl img {
    width: 170px;
  }
}

#body #grid-area .main .section__etiquetas .section__etiquetascl h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#body #grid-area .main .section__beber {
  background-color: #fcf7de;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#body #grid-area .main .section__beber h2 {
  font-size: 45px;
  font-weight: 900;
  margin-top: 20px auto 10px auto;
}

@media (min-width: 600px) and (max-width: 767px) {
  #body #grid-area .main .section__beber h2 {
    font-size: 40px;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  #body #grid-area .main .section__beber h2 {
    font-size: 25px;
  }
}

@media (min-width: 230px) and (max-width: 479px) {
  #body #grid-area .main .section__beber h2 {
    font-size: 20px;
  }
}

#body #grid-area .main .section__beber img {
  width: 400px;
  margin-top: 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
  -o-object-fit: cover;
     object-fit: cover;
}

#body #grid-area .main .section__beber img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (min-width: 600px) and (max-width: 767px) {
  #body #grid-area .main .section__beber img {
    width: 300px;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  #body #grid-area .main .section__beber img {
    width: 250px;
  }
}

@media (min-width: 230px) and (max-width: 479px) {
  #body #grid-area .main .section__beber img {
    width: 210px;
  }
}

#body #grid-area .main .section__beber p {
  font-size: 20px;
  font-weight: 500;
  color: grey;
  margin-top: 20px;
}

@media (min-width: 600px) and (max-width: 767px) {
  #body #grid-area .main .section__beber p {
    font-size: 15px;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  #body #grid-area .main .section__beber p {
    font-size: 15px;
  }
}

@media (min-width: 230px) and (max-width: 479px) {
  #body #grid-area .main .section__beber p {
    font-size: 13px;
  }
}

#body #grid-area .main .section__logo img {
  width: 200px;
  margin: 50px auto 50px auto;
}

@media (min-width: 480px) and (max-width: 599px) {
  #body #grid-area .main .section__logo img {
    width: 150px;
  }
}

@media (min-width: 230px) and (max-width: 479px) {
  #body #grid-area .main .section__logo img {
    width: 120px;
  }
}

#body #grid-area .footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
  background-color: black;
  text-align: center;
}

#body #grid-area .footer__titulo h2 {
  color: white;
  font-size: 55px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

@media (min-width: 600px) and (max-width: 767px) {
  #body #grid-area .footer__titulo h2 {
    font-size: 40px;
    margin-top: 20px;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  #body #grid-area .footer__titulo h2 {
    font-size: 35px;
    margin-top: 20px;
  }
}

@media (min-width: 230px) and (max-width: 479px) {
  #body #grid-area .footer__titulo h2 {
    font-size: 35px;
    margin-top: 20px;
  }
}

#body #grid-area .footer__redes nav ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 230px) and (max-width: 479px) {
  #body #grid-area .footer__redes nav ul li {
    padding: 10px;
  }
}

#body #grid-area .footer__redes nav ul li a img {
  -webkit-transition: all .5s;
  transition: all .5s;
  -o-object-fit: cover;
     object-fit: cover;
}

#body #grid-area .footer__redes nav ul li a img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (min-width: 600px) and (max-width: 767px) {
  #body #grid-area .footer__redes nav ul li a img {
    width: 80px;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  #body #grid-area .footer__redes nav ul li a img {
    width: 60px;
  }
}

@media (min-width: 230px) and (max-width: 479px) {
  #body #grid-area .footer__redes nav ul li a img {
    width: 50px;
  }
}

#body #grid-area .footer__pie img {
  width: 200px;
}

@media (min-width: 600px) and (max-width: 767px) {
  #body #grid-area .footer__pie img {
    width: 200px;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  #body #grid-area .footer__pie img {
    width: 200px;
  }
}

@media (min-width: 230px) and (max-width: 479px) {
  #body #grid-area .footer__pie img {
    width: 200px;
  }
}

#body #grid-area .footer__pie {
  font-weight: 500;
  color: white;
  margin: 10px 80px 0% 80px;
  text-align: center;
  font-size: 17px;
}

@media (min-width: 480px) and (max-width: 599px) {
  #body #grid-area .footer__pie {
    font-size: 15px;
  }
}

@media (min-width: 230px) and (max-width: 479px) {
  #body #grid-area .footer__pie {
    font-size: 15px;
  }
}
