

#body-contacto{
    
    #grid-areaContacto{
        width: 100%;
        display: grid;
        max-width: 1500px;
        margin: 0 auto;
        gap: 5px;
        grid-template-areas: 
        "header header header header"
        "main main main main"
        "footer footer footer footer";
        grid-template-rows: 100px auto ;

        .header{
            grid-area: header;
            text-align: center;
            margin-bottom: 0%;
            

            .navbar-brand img{
                margin-top: 20px;
                @media (min-width: $minMobileMin) and (max-width: $minMobileMax){
                    width: 220px;
                }
            }

            .nav-link {
                padding: 5px 15px 0% 15px;
                margin-bottom: 0%;
                color: black;
                font-weight: bolder;
                transition: all .1s;
 
                &:hover{
                    color: $colorEfecto;
                }
                
            }
        } 
        .main-contacto{
            grid-area: main;
            text-align: center;
            margin-top: 10px;
           
           
            @media (min-width: $desktopMin) and (max-width: $desktopMax){
                margin-top: 50px;
            }

            @media (min-width: $tabletMin) and (max-width: $tabletMax){
                margin-top: 50px;
            }

            @media (min-width: $mobileMin) and (max-width: $mobileMax){
                margin-top: 50px;
            }

            @media (min-width: $minMobileMin) and (max-width: $minMobileMax){
                margin-top: 50px;
            }

            .section__contacto{
                width: $widthTotal;
                text-align: center;
                padding: 30px;
                background-image: $bgFondo;
                margin: 20px auto 30px auto;

                h1{
                    font-size: 60px;
                    font-weight: bold; 
                    color:black;

                    @media (min-width: $desktopMin) and (max-width: $desktopMax){
                        font-size: 50px;
                    }
                    @media (min-width: $tabletMin) and (max-width: $tabletMax){
                        font-size: 40px;
                    }
                    @media (min-width: $mobileMin) and (max-width: $mobileMax){
                        font-size: 35px;
                    }
                    @media (min-width: $minMobileMin) and (max-width: $minMobileMax){
                        font-size: 25px;
                    }
                }
            }
            .form {
                width: 500px;
                margin-top: 50px;
                margin-left: auto;
                margin-right: auto;
                

                @media (min-width: $desktopMin) and (max-width: $desktopMax){
                    width: 500px;
                }
                @media (min-width: $tabletMin) and (max-width: $tabletMax){
                    width: 500px;
                }
                @media (min-width: $mobileMin) and (max-width: $mobileMax){
                    width: 400px;
                }
                @media (min-width: $minMobileMin) and (max-width: $minMobileMax){
                    width: 400px;
                }

                fieldset {
                   margin-top: 15px;

                    legend {
                        color: black;
                        font-size: 30px;
                        font-weight: 800;
                        margin-top: 20px;
                        margin-bottom: 20px;

                        @media (min-width: $desktopMin) and (max-width: $desktopMax){
                            font-size: 20px;
                        }
                        @media (min-width: $tabletMin) and (max-width: $tabletMax){
                            font-size: 20px;
                        }
                        @media (min-width: $mobileMin) and (max-width: $mobileMax){
                            font-size: 18px;
                        }
                        @media (min-width: $minMobileMin) and (max-width: $minMobileMax){
                            font-size: 18px;
                        }
                    }
                    .form-floating{
                        border: 2px solid $colorEfecto;
                    }
                } 
                .btn{
                    border:2px solid $colorEfecto;
                    font-weight: bolder;
                    color: black;
                }   
            }

        }
        .footer {
            grid-area: footer;
            background-color: $bgFooter;
            text-align: center;

            &__titulo h2 {
                color: white;
                font-size: 55px;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 50px;

                @media (min-width: $tabletMin) and (max-width: $tabletMax){
                    font-size: 40px;
                    margin-top: 20px;
                }
                @media (min-width: $mobileMin) and (max-width: $mobileMax){
                    font-size: $fontMedium;
                    margin-top: 20px;
                }
                @media (min-width: $minMobileMin) and (max-width: $minMobileMax){
                    font-size: $fontMedium;
                    margin-top: 20px;
                }
            }

            &__redes nav ul li {
                @include flex-inline;

                @media (min-width: $minMobileMin) and (max-width: $minMobileMax){
                    padding: 10px;
                }

                &  a img {
                    @include eft;

                    &:hover{
                        @include eft-img;
                    }
                    @media (min-width: $tabletMin) and (max-width: $tabletMax){
                        width: 80px;
                    }
                    @media (min-width: $mobileMin) and (max-width: $mobileMax){
                        width: 60px;
                    }
                    @media (min-width: $minMobileMin) and (max-width: $minMobileMax){
                        width: 50px;
                    }
                }   
            }
         
            &__pie img {
                width: 200px;

                @media (min-width: $tabletMin) and (max-width: $tabletMax){
                    width: 200px;
                }
                @media (min-width: $mobileMin) and (max-width: $mobileMax){
                    width: 200px;
                }
                @media (min-width: $minMobileMin) and (max-width: $minMobileMax){
                    width: 200px;
                }

            }

            &__pie {
                font-weight: 500;
                color: white;
                margin: 10px 80px 0% 80px;
                text-align: center;
                font-size: 17px;

                @media (min-width: $mobileMin) and (max-width: $mobileMax){
                    font-size: $fontSmall;
                }
                @media (min-width: $minMobileMin) and (max-width: $minMobileMax){
                    font-size: $fontSmall;
                }
            }
        } 
    }
}