
@mixin flex-colum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-inline {
    display: inline-flex;
    justify-content: space-evenly;
    padding: 25px;
    align-items: center;
}

@mixin eft{
    transition: all .5s;
    object-fit: cover;
}

@mixin eft-img {
    transform: scale(1.05);
}