
$colorFondo:  #fcf7de;
$colorEfecto: #dc9302;

$bgFooter: black;
$bgImg: none;
$bgFondo: url(../img/banner-titulo.jpg);

$desktopMax: 1023px;
$desktopMin: 768px;
$tabletMax: 767px;
$tabletMin: 600px;
$mobileMax: 599px;
$mobileMin: 480px;
$minMobileMax: 479px;
$minMobileMin: 230px;

$fontSmall: 15px;
$fontMedium: 35px;

$widthTotal: 100%;
